@media screen and (max-width: 700px)
{
    .titulo-negro-inicio
    {
        font-size: 10px;        
    }

    .contenedor-episodios
    {
       .episodios
        {
            display: flex;
            flex-direction: column;
            width: 298px;
            height: 225px;
            padding-left: 0px;
        }
        .titulo-blanco
        {
            font-size: $tamano-titulo-blanco-movil;
        }
    }
    
}