$fuente-principal: 'IBM Plex Sans';
$fuente-secundaria: 'IBM Plex Mono';
$color-principal: #0000FF;
$color-secundario: #00F0B8;
$color-text-hover: #00F3BB;
$color-text-active: rgba(6,10,36,0.56);
$color-text:  #060A24;
$color-verde: #00F3BB;

$tamano-titulo-inicio-escritorio: 64px;
$tamano-titulo-blanco-escritorio: 48px;
$tamano-titulo-negro-escritorio: 48px;
$tamano-parrafo-escritorio: 16px;
$tamano-texto-boton-escritorio: 18px;

$tamano-titulo-inicio-tablet: 50px;
$tamano-titulo-blanco-tablet: 40px;
$tamano-titulo-negro-tablet: 40px;
$tamano-parrafo-tablet: 15px;
$tamano-texto-boton-tablet: 17px;

$tamano-titulo-inicio-movil: 36px;
$tamano-titulo-blanco-movil: 36px;
$tamano-titulo-negro-movil: 36px;
$tamano-parrafo-movil: 14px;
$tamano-texto-boton-movil: 16px;
